<ion-view title="Active Surveys" id="page4" style="background-color:#DFFFFF;">
  <ion-content padding="true" class="has-header">
    <div class="item item-body" id="activeSurveys-list-item-container15">
      <div id="activeSurveys-markdown24" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">
          <strong>Active Surveys</strong>
        </p>
      </div>
      <ion-list id="activeSurveys-list9">
        <ion-item class="item-icon-right" id="activeSurveys-list-item38" ui-sref="tabsController.links">Untitled Survey
          <i class="icon ion-android-cloud-done"></i>
        </ion-item>
        <ion-item class="item-icon-right" id="activeSurveys-list-item41" ui-sref="tabsController.links">Untitled Survey_2
          <i class="icon ion-android-cloud-outline"></i>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>