<script>
    angular.module('app', ['ionic', 'firebase', 'app.controllers', 'app.routes', 'app.directives', 'app.services', ])

    var user = firebase.auth().currentUser;
    var prevUser = auth.currentUser;
    var baseUrl = 'https://ionic-survey-app.firebaseio.com/';
    var ref = new Firebase(baseUrl);
    var getAuthEmailPass = ref.getAuth().password.email;


    function myFunction() {
        console.log("EXECUTE FUNCTION");
        if (user != null) {
            name = user.displayName;
            email = user.email;
            photoUrl = user.photoURL;
            emailVerified = user.emailVerified;
            uid = user.uid;

            document.getElementById("demo").innerHTML = user.email;
            document.getElementById("memo").innerHTML = user.displayName;
        } else {
            console.log("NOT SIGNED IN!", user);
            console.log("NOT SIGNED IN!", ref.auth().currentUser);
            console.log("NOT SIGNED IN!", getAuthEmailPass);

        }
    }
</script>
<ion-view title="Home - Login" id="page2" style="background-color:#DFFFFF;">
    <ion-content padding="true" class="has-header" ng-controller="homeLoginCtrl" onload="myFunction()">
        <div id="homeLogin-button-bar1" class="button-bar"></div>
        <div class="list card" id="homeLogin-card22">
            <ion-item class="item-avatar" id="homeLogin-list-item7">

                <div ng-controller="loginCtrl">
                    Hello, <span id="demo" ng-bind="email" ng-bind="names" ng-bind="name" ng-bind="namez"></span>!
                </div>
                <p id="memo"></p>
            </ion-item>
            <a ui-sref="tabsController.home" id="homeLogin-button8" class="button button-positive  button-block" ng-click="signOut()">Logout</a>
        </div>
        <a ui-sref="tabsController.createSurvey" id="homeLogin-button7" style="font-weight:500;" class="button button-calm button-large button-block">Create Survey</a>
    </ion-content>
</ion-view>