<ion-view title="Home" id="page8" style="background-color:#DFFFFF;">
    <ion-content padding="true" class="has-header" ng-controller="homeCtrl">
        <div id="home-button-bar3" class="button-bar"></div>
        <div id="home-container4">
            <div class="spacer" style="width: 300px; height: 43px;"></div>
            <h1 id="home-heading3" style="color:#000000;text-align:center;">Welcome!</h1>
            <div id="home-markdown5" style="text-align:center;" class="show-list-numbers-and-dots">
                <p style="color:#000000;">
                    <strong>Login</strong> and
                    <strong>Create</strong> a survey!</p>
            </div>
        </div>
        <div id="home-container5">
            <div class="spacer" style="width: 300px; height: 59px;"></div>
            <h3 id="home-heading4" style="color:#000000;font-weight:lighter;text-align:center;">Your Account</h3>
            <a ui-sref="tabsController.login" id="home-button17" class="button button-positive  button-block">Login</a>
            <a ui-sref="tabsController.signup" id="home-button18" class="button button-positive  button-block">Signup</a>
            <a ui-sref="tabsController.homeLogin" id="home-button18" class="button button-positive  button-block" ng-click="anon()">Guest Login</a>
        </div>
    </ion-content>
</ion-view>