<script>
    angular.module('app', ['ionic', 'firebase', 'app.controllers', 'app.routes', 'app.directives', 'app.services', ])
    var user = firebase.auth().currentUser;
    var baseUrl = 'https://ionic-survey-app.firebaseio.com/';
    var ref = new Firebase(baseUrl);
    //var getAuthEmailPass = ref.getAuth().password.email; //not a function
    var name, email, photoUrl, uid, emailVerified;

    function myFunction() {
        console.log("EXECUTE FUNCTION");
        if (user != null) {
            name = user.displayName;
            email = user.email;
            photoUrl = user.photoURL;
            emailVerified = user.emailVerified;
            uid = user.uid;

            /*document.getElementById("demo").innerHTML = email;
            document.getElementById("memo").innerHTML = user.email;*/
        } else {
            console.log("Hello ANONYMOUS", ref.auth().currentUser);
            //console.log("NOT SIGNED IN!", getAuthEmailPass);

        }
    }
</script>
<ion-view title="Home - Login" id="page2" style="background-color:#DFFFFF;">
    <ion-content padding="true" class="has-header" ng-controller="homeLoginCtrl" onload="myFunction()">
        <div id="homeLogin-button-bar1" class="button-bar"></div>
        <div class="list card" id="homeLogin-card22">
            <ion-item class="item-avatar" id="homeLogin-list-item7">

                <div ng-controller="homeLoginCtrl">
                    <h2>Hello,
                        <p id="memo" ng-controller="homeLoginCtrl"></p>
                    </h2>
                </div>
            </ion-item>
            <a id="homeLogin-button8" class="button button-positive  button-block" ng-click="logout()">Logout</a>
        </div>
        <a ui-sref="tabsController.createSurvey" id="homeLogin-button7" style="font-weight:500;" class="button button-calm button-large button-block">Create Survey</a>
    </ion-content>
</ion-view>