<ion-view title="Links" id="page12" style="background-color:#DFFFFF;">
  <ion-content padding="true" class="has-header">
    <div class="item item-body" id="links-list-item-container16">
      <h2 id="links-heading6" style="color:#000000;">Untitled Survey</h2>
      <div id="links-markdown27" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">
          <strong>Survey Link</strong>
        </p>
      </div>
      <div id="links-markdown26" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#0048FF;">https://www.mlabID.com</p>
      </div>
      <ion-list id="links-list10">
        <ion-toggle toggle-class="toggle-positive" id="links-toggle8">Activate</ion-toggle>
        <ion-item class="item-icon-right dark" id="links-list-item42" href-inappbrowser="https://accounts.google.com/">Send via Email
          <i class="icon ion-email"></i>
        </ion-item>
        <ion-item class="item-icon-right dark" id="links-list-item47" href="tel:">Send via Text
          <i class="icon ion-android-textsms"></i>
        </ion-item>
        <ion-item class="item-icon-right positive" id="links-list-item43" href-inappbrowser="https://en-gb.facebook.com/login/">Send via Facebook
          <i class="icon ion-social-facebook"></i>
        </ion-item>
        <ion-item class="item-icon-right calm" id="links-list-item44" href-inappbrowser="https://twitter.com/?lang=en">Send via Twitter
          <i class="icon ion-social-twitter"></i>
        </ion-item>
        <ion-item class="item-icon-right balanced" id="links-list-item45" href-inappbrowser="https://web.whatsapp.com/">Send via WhatsApp
          <i class="icon ion-social-whatsapp-outline"></i>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>