<ion-view title="Survey" id="page11" style="background-color:#DFFFFF;">
  <ion-content padding="true" class="has-header">
    <div class="item item-body" id="survey-list-item-container13">
      <div id="survey-markdown19" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">
          <strong>Untitled Survey</strong>
        </p>
      </div>
      <div id="survey-markdown20" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">This is a survey about...</p>
      </div>
    </div>
    <div class="item item-body" id="survey-list-item-container14">
      <div id="survey-markdown21" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">
          <strong>Question 1</strong>
        </p>
      </div>
      <div id="survey-markdown22" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">What's 2 + 2 =?</p>
      </div>
      <form id="survey-form13" class="list">
        <ion-radio id="survey-radio12" name="surveyQuestion">1</ion-radio>
        <ion-radio id="survey-radio15" name="surveyQuestion">2</ion-radio>
        <ion-radio id="survey-radio16" name="surveyQuestion">4</ion-radio>
        <ion-radio id="survey-radio17" name="surveyQuestion">&lt;&gt;&lt;</ion-radio>
      </form>
    </div>
    <div class="item item-body" id="survey-list-item-container17">
      <div id="survey-markdown28" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">
          <strong>Question 2</strong>
        </p>
      </div>
      <div id="survey-markdown29" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">What's 2 + 2 =?</p>
      </div>
      <form id="survey-form15" class="list">
        <ion-checkbox id="survey-checkbox5">1</ion-checkbox>
        <ion-checkbox id="survey-checkbox6">2</ion-checkbox>
        <ion-checkbox id="survey-checkbox7">4</ion-checkbox>
        <ion-checkbox id="survey-checkbox8">&lt;&gt;&lt;</ion-checkbox>
      </form>
    </div>
    <div style="margin-right:-20px;">
      <a ui-sref="surveyAnalytics" id="survey-button34" style="left:-10px;color:#50A0A5;" class="button button-stable  button-full">Finish</a>
    </div>
  </ion-content>
</ion-view>