<ion-view title="Survey Analytics" id="page13" style="background-color:#DFFFFF;">
  <ion-content padding="true" class="has-header">
    <div class="item item-body" id="surveyAnalytics-list-item-container18">
      <div id="surveyAnalytics-markdown30" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">
          <strong>Untitled Survey</strong>
        </p>
      </div>
      <div id="surveyAnalytics-markdown31" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">This is a survey about...</p>
      </div>
      <div class="spacer" style="width: 268px; height: 22px;"></div>
      <div id="surveyAnalytics-container10">
        <div id="surveyAnalytics-markdown41" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Duration</strong>
          </p>
        </div>
        <div id="surveyAnalytics-markdown42" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">HH:MM:SS</p>
        </div>
      </div>
      <div id="surveyAnalytics-container9">
        <div id="surveyAnalytics-markdown39" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Answered</strong>
          </p>
        </div>
        <div id="surveyAnalytics-markdown40" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">8/10</p>
        </div>
      </div>
    </div>
    <div class="item item-body" id="surveyAnalytics-list-item-container19">
      <div id="surveyAnalytics-markdown32" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">
          <strong>Question 1 - Wrong</strong>
        </p>
      </div>
      <div id="surveyAnalytics-markdown33" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">What's 2 + 2 =?</p>
      </div>
      <form id="surveyAnalytics-form16" class="list">
        <ion-radio id="surveyAnalytics-radio22" name="surveyQuestion">1</ion-radio>
        <ion-radio id="surveyAnalytics-radio23" name="surveyQuestion">2</ion-radio>
        <ion-radio id="surveyAnalytics-radio24" name="surveyQuestion">4</ion-radio>
        <ion-radio id="surveyAnalytics-radio25" name="surveyQuestion">&lt;&gt;&lt;</ion-radio>
      </form>
    </div>
    <div class="item item-body" id="surveyAnalytics-list-item-container20">
      <div id="surveyAnalytics-markdown34" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">
          <strong>Question 2 - Wrong</strong>
        </p>
      </div>
      <div id="surveyAnalytics-markdown35" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">What's 2 + 2 =?</p>
      </div>
      <form id="surveyAnalytics-form17" class="list">
        <ion-checkbox id="surveyAnalytics-checkbox9">1</ion-checkbox>
        <ion-checkbox id="surveyAnalytics-checkbox10">2</ion-checkbox>
        <ion-checkbox id="surveyAnalytics-checkbox11">4</ion-checkbox>
        <ion-checkbox id="surveyAnalytics-checkbox12">&lt;&gt;&lt;</ion-checkbox>
      </form>
    </div>
    <div style="margin-right:-20px;">
      <a ui-sref="tabsController.links" id="surveyAnalytics-button37" style="left:-10px;color:#50A0A5;" class="button button-stable  button-full">Share</a>
    </div>
    <div style="margin-right:-20px;">
      <a ui-sref="tabsController.yourSurveys" id="surveyAnalytics-button36" style="left:-10px;color:#50A0A5;" class="button button-stable  button-full">Finish</a>
    </div>
  </ion-content>
</ion-view>