<ion-view title="Survey Info" id="page9" style="background-color:#DFFFFF;">
  <ion-content padding="true" class="has-header">
    <form id="surveyInfo-form7" class="list">
      <label class="item item-input" id="surveyInfo-input11" name="survey_Name">
        <span class="input-label">Survey Name</span>
        <input type="text" placeholder="Untitled Survey">
      </label>
      <label class="item item-input" id="surveyInfo-input12" name="survey_Desc">
        <span class="input-label">Description</span>
        <input type="text" placeholder="This survey is about...">
      </label>
    </form>
    <div class="spacer" style="width: 300px; height: 26px;"></div>
    <form id="surveyInfo-form18" class="list">
      <ion-toggle toggle-class="toggle-positive" id="surveyInfo-toggle9">Center Text</ion-toggle>
    </form>
  </ion-content>
</ion-view>